<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goku.coreui.prize.mapper.PrizeMapper">



    <insert id="insert" parameterType="com.goku.coreui.prize.model.Prize">
        insert into tb_prize (prize_id,prize_name,prize_description,send_address,send_time,user_id,prize_status,prize_qr,create_time,prize_img_path)
        value(
          #{prize_id,jdbcType=VARCHAR},
          #{prize_name,jdbcType=VARCHAR},
          #{prize_description,jdbcType=VARCHAR},
          #{send_address,jdbcType=VARCHAR},
          #{send_time,jdbcType=TIMESTAMP},
          #{user_id,jdbcType=VARCHAR},
          #{prize_status,jdbcType=INTEGER},
          #{prize_qr,jdbcType=VARCHAR},
          SYSDATE(),
          #{prize_img_path,jdbcType=VARCHAR}
          )
    </insert>


    <update id="edit" parameterType="com.goku.coreui.prize.model.Prize">
        update tb_prize
        <set>
            <if test="prize_name != null">
                prize_name = #{prize_name,jdbcType=VARCHAR},
            </if>
            <if test="send_address != null">
                send_address = #{send_address,jdbcType=VARCHAR},
            </if>
            <if test="send_time != null">
                send_time = #{send_time,jdbcType=TIMESTAMP},
            </if>
            <if test="user_id != null">
                user_id = #{user_id,jdbcType=VARCHAR},
            </if>
            <if test="prize_status != null">
                prize_status = #{prize_status,jdbcType=INTEGER},
            </if>
            <if test="prize_qr != null">
                prize_qr = #{prize_qr,jdbcType=VARCHAR},
            </if>
            <if test="prize_description != null">
                prize_description = #{prize_description,jdbcType=VARCHAR},
            </if>
            <if test="prize_img_path != null">
                prize_img_path = #{prize_img_path,jdbcType=VARCHAR}
            </if>
        </set>
        where prize_id = #{prize_id,jdbcType=VARCHAR}
    </update>

    <delete id="delete">
        delete from tb_prize
        where prize_id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id,jdbcType=VARCHAR}
        </foreach>
    </delete>

    <update id="send">
        update tb_prize
        set prize_status = 1
        where prize_id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id,jdbcType=VARCHAR}
        </foreach>
    </update>

    <select id="queryById" parameterType="java.lang.String" resultType="com.goku.coreui.prize.model.Prize">
        select
            t.prize_id,t.prize_name,t.send_address,t.send_time,t.user_id,t.prize_status,t.prize_qr,t.prize_img_path,t.prize_description,s.username user_name,s.mobile
        from tb_prize t
        left join sys_user s on t.user_id = s.id
        where t.prize_id = #{prize_id,jdbcType=VARCHAR}
    </select>

    <select id="queryPage" resultType="com.goku.coreui.prize.model.Prize">
        select
            t.prize_id,t.prize_name,t.send_address,t.send_time,t.user_id,t.prize_status,t.prize_qr,t.prize_img_path,t.prize_description,s.username user_name,s.mobile
        from tb_prize t
        left join sys_user s on t.user_id = s.id
        <where>
            <if test="user_name != null and user_name != ''">
                <bind name="user_name" value="'%' + user_name + '%'" />
                and s.username LIKE #{user_name}
            </if>
            <if test="begindate != null">
                <![CDATA[  and  t.send_time >= #{begindate,jdbcType=DATE}]]>
            </if>
            <if test="enddate != null">
                <![CDATA[  and t.send_time <= #{enddate,jdbcType=DATE}]]>
            </if>
            <if test="prize_status != null and prize_status != ''">
               and t.prize_status = ${prize_status}
            </if>
        </where>

        order by  create_time desc
    </select>
</mapper>