<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goku.coreui.beaut.mapper.BeautMapper">

    <select id="queryPage" resultType="com.goku.coreui.beaut.model.Beaut">
        select
           t.img_id,t.img_name,t.img_path,t.img_status,t.create_time,t.img_status,
           t.fabulous, s.username user_name
        from tb_imgs t
        left join sys_user s on s.id = t.user_id
        where img_status != 0
        <if test="user_name != null and user_name != ''">
            <bind name="user_name" value="'%' + user_name + '%'" />
            and s.username LIKE #{user_name}
        </if>
        <if test="status != null">
            <![CDATA[  and  img_status= #{status,jdbcType=DATE}]]>
        </if>
        <if test="begindate != null">
            <![CDATA[  and  t.create_time >= #{begindate,jdbcType=DATE}]]>
        </if>
        <if test="enddate != null">
            <![CDATA[  and t.create_time <= #{enddate,jdbcType=DATE}]]>
        </if>
        order by t.create_time desc
    </select>

    <delete id="delete">
        delete from tb_imgs
        where img_id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id,jdbcType=VARCHAR}
        </foreach>
    </delete>

    <update id="delImgStatus">
        update tb_imgs
        set img_status = 0
        where img_id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id,jdbcType=VARCHAR}
        </foreach>
    </update>

    <update id="approvalImgStatus">
        update tb_imgs
        set img_status = 2
        where img_id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id,jdbcType=VARCHAR}
        </foreach>
    </update>


    <insert id="add" parameterType="com.goku.coreui.beaut.model.Beaut">
        insert into tb_imgs(img_id,img_name,img_path,img_status,user_id,create_time,fabulous)
        values(
          #{img_id,jdbcType=VARCHAR},
          #{img_name,jdbcType=VARCHAR},
          #{img_path,jdbcType=VARCHAR},
          1,
          #{user_id,jdbcType=VARCHAR},
          SYSDATE(),
          0
        )
    </insert>

    <update id="setFabulous">
        update tb_imgs
        <if test="type == 'add'">
            set fabulous = fabulous + 1
        </if>
        <if test="type == 'minus'">
            set fabulous = fabulous - 1
        </if>
        where img_id = #{id,jdbcType=VARCHAR}
    </update>
</mapper>