<!--templates-->
<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> 奖品列表
                </div>
                <div class="card-body">
                    <div class=" form-horizontal">

                        <div class="form-group  row">

                            <div class="col-md-3">
                                <div class="input-group">
                                    <span class="input-group-addon search-content">是否发送</span>
                                    <select id="prize_status" name="prize_status" class="form-control search-content"
                                            style="height: 30px;padding: 0 6px">
                                        <option value=""></option>
                                        <option value="0">待发送</option>
                                        <option value="1">已发送</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="input-group">
                                    <span class="input-group-addon search-content">收货人</span>
                                    <input type="text" id="user_name" name="user_name"
                                           class="form-control search-content"/>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="input-group">
                                    <span class="input-group-addon search-content">发货日期</span>
                                    <input type="text" class="layui-input form-control search-content" id="createdate"
                                           name="createdate" placeholder=" - "/>
                                </div>
                            </div>
                            <a style="margin-left:15px" class="opreate-btn layui-btn layui-btn-sm layui-btn-normal"
                               href="#" data-type="reload" id="refreshTable"><i class="icon-magnifier"></i>查询</a>
                            <a style="margin-left:15px" class="opreate-btn layui-btn layui-btn-sm layui-btn-primary"
                               href="#" data-type="reset" id="resetTable"><i class="icon-refresh"></i>重置</a>

                        </div>

                        <div class="row">
                            <a class="opreate-btn  layui-btn layui-btn-sm" id="addbtn" href="#"><i
                                    class="icon-plus"></i>新增</a>
                            <a class="opreate-btn  layui-btn layui-btn-sm" id="editbtn" href="#"><i
                                    class="icon-plus"></i>修改</a>
                            <a class="opreate-btn  layui-btn layui-btn-sm" id="sendIds" href="#"><i class="icon-plus"
                                                                                                    style="width: 80px"></i>批量发送</a>
                            <a class="opreate-btn  layui-btn layui-btn-sm" id="download" href="#"><i
                                    class="icon-plus"></i>下载</a>
                            <a class="opreate-btn layui-btn layui-btn-sm layui-btn-danger" href="#" id="deleteIds"><i
                                    class="icon-close"></i>删除</a>
                        </div>
                        <table class="layui-table table-responsive-sm" id="table" lay-filter="table"></table>
                    </div>
                </div>
            </div>
            <!--/.row-->
        </div>
    </div>
</div>

<!--js-->
<script th:inline="javascript">
    layui.use(['table', 'laydate'], function () {
        var table = layui.table,
            $ = layui.jquery,
            laydate = layui.laydate;


        var opt = {
            elem: '#table'
            , url: 'api/prize/queryPage'
            , height: 410
            , page: true //开启分页,
            , limit: 5
            , limits: [5, 10, 20, 50]
            , cols: [[
                {type: 'checkbox'},
                {field: 'prize_name', title: '奖品名称'},
                {field: 'prize_description', title: '奖品描述'},
                {
                    field: 'prize_status', title: '奖品状态', templet: function (d) {
                        if (d.prize_status==1){
                            return '已绑定';
                        }
                        if (d.prize_status==0){
                            return '未绑定';
                        }
                        if (d.prize_status==2){
                            return '已发货';
                        }
                    }
                },
                {field: 'user_name', title: '收货人'},
                {field: 'mobile', title: '联系人号码'},
                {field: 'send_time_str', title: '发送时间'},
                {field: 'send_address', title: '收获地址'},
                {
                    field: 'prize_img_path', title: '图片',
                    templet: function (d) {
                        if (d.prize_img_path)
                            return '<img src="' + d.prize_img_path + '" width="40" />';
                        else
                            return ''
                    }
                }
            ]],
            request: {
                pageName: 'pageNumber', //页码的参数名称，默认：page
                limitName: 'pageSize' //每页数据量的参数名，默认：limit
            },
            response: {
                countName: 'total', //数据总数的字段名称，默认：count
                dataName: 'rows' //数据列表的字段名称，默认：data
            }
        };
        var tableIns = table.render(opt);

        //日期范围
        laydate.render({
            elem: '#createdate'
            , range: true
        });

        $('#refreshTable').on('click', function () {
            var daterange = $('#createdate').val().split(' - ');
            console.log(daterange)

            tableIns.reload({
                where: {
                    user_name: $('#user_name').val(),
                    prize_status: $("#prize_status").val(),
                    begindate: daterange[0],
                    enddate: daterange[1]
                }
            });
        });

        $('#resetTable').on('click', function () {
            $('#user_name').val("");
            $('#createdate').val("");
            $('#prize_status').val("");
            tableIns.reload({
                where: {
                    user_name: "",
                    prize_status: "",
                    begindate: "",
                    enddate: ""
                }
            });
        });

        $('#addbtn').on('click', function () {
            setUpUrl("prize/getListPage@prize/addPage");
        });

        $("#editbtn").on("click", function () {
            var checkStatus = table.checkStatus('table')
                , data = checkStatus.data;
            if (data.length != 1) {
                layer.alert("请选择一条记录!", {icon: 0});
            } else {
                setUpUrl("prize/getListPage@prize/editPage?id=" + data[0].prize_id);
            }

        })
        $("#download").on("click", function () {
            var checkStatus = table.checkStatus('table')
                , data = checkStatus.data;
            if (data.length != 1) {
                layer.alert("请选择一条记录!", {icon: 0});
            } else {
                window.location.href = "api/device/downloadQR?fileName=" + data[0].prize_name + data[0].prize_id + '.png';
            }
        })

        $("#deleteIds").on("click", function () {
            var checkStatus = table.checkStatus('table'),
                data = checkStatus.data;
            if (data.length == 0) {
                layer.alert("请选择一条记录!", {icon: 0});
            } else {
                layer.alert('请确认是否删除该奖品!', {
                    icon: 3,
                    btn: ['确认'],
                    yes: function (index) {
                        layer.close(index);
                        postJSON("api/prize/delete", data.map(item => item.prize_id).join(",")).catch(error => {
                        })
                            .then(value => {
                                var result = JSON.parse(value);
                                if (result == true) {
                                    layer.alert('该奖品删除成功!', {
                                        icon: 6, btn: ['确认'], yes: function (index) {
                                            layer.close(index);
                                            var tabOpt = table.render(opt);
                                            tabOpt.reload();
                                        }
                                    });
                                } else {
                                    layer.alert("奖品除失败!", {icon: 2});
                                }
                            });
                    }
                })
            }

        });
        $("#sendIds").on("click", function () {
            var checkStatus = table.checkStatus('table'),
                data = checkStatus.data;
            if (data.length == 0) {
                layer.alert("请选择一条记录!", {icon: 0});
            } else {
                layer.alert('请确认是否发货!', {
                    icon: 3,
                    btn: ['确认'],
                    yes: function (index) {
                        layer.close(index);
                        postJSON("api/prize/send", data.map(item => item.prize_id).join(",")).catch(error => {
                        })
                            .then(value => {
                                var result = JSON.parse(value);
                                if (result == true) {
                                    var tabOpt = table.render(opt);
                                    tabOpt.reload();
                                } else {
                                    layer.alert("修改发送状态失败!", {icon: 2});
                                }
                            });
                    }
                })
                data[0].device_id
            }

        })
    });

</script>
<!--模板 js start-->
<!--模板 end-->

<!--css-->
<style type="text/css">
    .search-content {
        height: 30px;
        margin-bottom: 5px;
    }

    .opreate-btn {
        width: 60px;
        margin: 0 0 10px 15px;
        text-decoration: none;
    }
</style>